header{
  position: fixed;
  left: 0; top: 0;
  right: 0;
  padding: 12px 40px;
  border-bottom: 1px solid #E5E5E5;
  background: $white;
}
.header_wrap{
  height: 49px;
  vertical-align: middle;
  &::after{
    @include clear;
  }
  .logo{
    display: inline-block;
    width: 160px;
    height: 47px;
    vertical-align: middle;
    line-height: 1;
    font-size: 0;
    a{
      display: inline-block;
      width: 100%;
      height: 100%;
      background: svg_logo() 50% 50% no-repeat;
    }
  }
  .right{
    float: right;
    .bx_search{
      display: inline-block;
    }
  }
  .link{
    display: inline-block;
    margin-left: 30px;
    a{
      padding: 0 10px;
      &:hover{
        text-decoration: underline;
      }
    }
    .link_gomlab{
      display: inline-block;
      height: 47px;
      padding: 0 23px;
      margin-left: 30px;
      background: #F2F4F6;
      border-radius: 10px;
      text-align: center;
      line-height: 47px;
      color: $color1;
      font-weight: 600;
      font-size: 15px;
      &:hover{
        background: $point;
        color: $white;
      }
    }
  }
  .bx_search{
    position: relative;
    .ico_sch{
      display: inline-block;
      position: absolute;
      left: 16px;
      top: 50%;
      margin-top: -10px;
      width: 21px;
      height: 21px;
      background: ico_sch() 50% 50% no-repeat;
    }
    .inp_sch{
      font-size: 15px;
      color: $black;
      &:hover{
        box-shadow: 0px 4px 10px #2B3D551A;
      }
      &:focus, &.on{
        border-color: #bbb;
      }
    }
  }
}
.scroll_area{
  margin-left: 300px;
  padding: 74px 0 0;
  box-sizing: border-box;
  main{
    margin: 0 auto;
    max-width: 1000px;
    padding: 60px 20px 0;
  }
}
nav {
	position: fixed;
	left: 0;
	top: $header_h;
	bottom: 0;
	overflow: auto;
	border-right: 1px solid #e5e5e5;
	@include scrollStyle;
}
.nav_inner {
	width: 265px;
	height: 2000px;
	padding: 16px;
	background: $white;
	box-sizing: border-box;
	.dep1 > li{
    min-height: 47px;
    > a{
      display: inline-block;
      height: 100%;
      width: 100%;
      padding: 13px 14px;
      box-sizing: border-box;
      font-size: 15px;
      font-weight: 600;
      line-height: 20px;
      color: $color1;
      border-radius: 10px;
    }
  }
  .dep2{
    li{
      > a{
        display: inline-block;
        margin-left: 42px;
        padding: 13px 0;
        width: 100%;
        color: #555;
        font-size: 15px;
        line-height: 20px;
      }
    }
  }
  .has_sub{
    position: relative;
    >a{
      &:before{
        display: inline-block;
        content: '';
        position: absolute;
        top: 16px;
        right: 14px;
        width: 15px;
        height: 15px;
        background: gnb_unfold() 50% 50% no-repeat;
        transition: transform .5s;
      }
    }
    .on{
      &:before{
        transform: rotate(180deg);
        transition: transform .5s;
      }
      & + .dep2{
        display: block;
        transition: height 10s ease;
        height: auto;
      }
    } 
  }
  .dep2{
    display: none;
    height: 0;
  }
  .on{
    background: #F7F7F7;
  }
  span{
    display: inline-block;
    width: 23px;
    height: 23px;
    margin-right: 13px;
    background: #000;
    vertical-align: bottom;
  }
  .ico_gnb1{
    background: ico_gnb1() 50% 50% no-repeat;
  }
  .ico_gnb2{
    background: ico_gnb2() 50% 50% no-repeat;
  }
  .ico_gnb3{
    background: ico_gnb3() 50% 50% no-repeat;
  }
  .ico_gnb4{
    background: ico_gnb4() 50% 50% no-repeat;
  }
}