@mixin fontfamily($weight:100, $font:$family) {
	font-weight: $weight;
	font-family: $font !important;
}
@mixin bg($fileNm:null, $repeat:no-repeat, $bgPos:0 0, $bgSize:null, $bgColor:null){
	background:$bgColor url($url + $fileNm + $version) $repeat $bgPos;
	@if $bgSize != null {
		background-size:$bgSize;
	}
}
@mixin set_content($width:auto, $height:auto, $display:inline-block, $position:relative,  $color:null) {
    content: "";
    width: $width;
    height: $height;
    display: $display;
    position: $position;
    @if $color != null {
        background: $color;
    }
}
@mixin ellipsis($type:null,$num:2) {
	overflow:hidden;
	text-overflow:ellipsis;
    @if $type == multi {
        white-space: normal;
        word-wrap: break-word;
        display:-webkit-box;
        -webkit-line-clamp:$num;
        -webkit-box-orient:vertical;
    }@else if  $type == lineM {
        white-space: normal;
        word-wrap: break-word;
        display:-webkit-inline-box;
        -webkit-line-clamp:$num;
        -webkit-box-orient:vertical;
    }
    @else{
        white-space:nowrap;
    }
}
@mixin blind {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -2000em;
}
@mixin clear($display:block){
	display: $display;
	clear: both;
	content: "";
}
@mixin scrollStyle{
	// webkit
	&::-webkit-scrollbar {
		width: 4px;
		height: 4px;
		background: $white;
		cursor: pointer;
		transition-duration: 0.5s;
	}
	&::-webkit-scrollbar-corner {
		background: #262a33;
	}
	&::-webkit-scrollbar-button:start:decrement,
	::-webkit-scrollbar-button:end:increment {
		display: none;
	}
	&::-webkit-scrollbar-track {
		position: relative;
		top: 0;
		border-radius: 0;
	}
	&::-webkit-scrollbar-thumb {
		height: 50px;
		width: 50px;
		background: $color4;
		border-radius: 0;
		cursor: pointer;
	}
	&::-webkit-scrollbar-corner {
		background-color: $white;
	}
	// moz
	scrollbar-color: $color4 $white;
	scrollbar-width: thin;
	scrollbar-height: thin;
}