//common control
html, body {
	border: none;
	@include fontfamily(100);
	font-size: 14px;
	line-height: 1.7;
	color: $black;
	word-break: keep-all;
	min-width: $min_width;
	max-width: $max_width;
}
html, body, div, ul, li, dl, dt, dd, ol, p, h1, h2, h3, h4, h5, h6, form, fieldset {
	margin: 0;
	padding: 0;
}

* {
	outline: none;
}

html {
	min-width: $min_width;
	width: 100%;
	-webkit-text-size-adjust: none;
}

body {
	background: $white;
}

h1, h2, h3, h4, h5, h6, strong, b, th {
	font-weight: $bold;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section, main {
	display: block;
}

ul, ol, dl, li {
	list-style: none;
}

pre {
	margin: 0;
	word-break: break-all;
	white-space: pre-wrap;
}

em, address {
	font-style: normal
}

img {
	border: 0;
	vertical-align: top;
}

fieldset {
	border: 0;
}

table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}

caption {
	display: none;
}

button {
	border: none;
	background: none;
	cursor: pointer;
	outline: none;
	padding: 0;
}

input[type=text], input[type=password], input[type=tel], input[type=email], input[type=button], input[type=submit], input[type=reset], button, select, textarea {
	font-family: $family!important;
	font-weight: 100;
}

a, a:link, a:visited, a:hover, a:active, a:focus {
	color: $black;
	text-decoration: none;
	outline: none;
}

a.disabled {
  pointer-events: none;
  cursor: default;
	text-decoration: none;
}

.blind {
	display: block;
	position: absolute !important;
	top: -2000em;
	left: -2000em;
	width: 1px;
	height: 1px;
	margin: 0px !important;
	text-indent: 2000em;
}

