/*URL*/
//$url: "/img/";
$url: "//www.gomlab.com/gomlab_v2/ui/gommarket/img/";

/*Hashing*/
$version: "?v=1";

$min_width: 1280px;
$max_width: 100%;


/*Font 및 Color*/
$bold: bold;
$white: #ffffff;
$black: #222;
$color1: #555;
$color2: #999;
$color3: #bbb;
$color4: #DEDEDE;
$color5: #F5F5F5;
$point: #FF4352;
$loadbg: #f7f7f7;