/*URL*/
//$url: "/img/";
$url: "//www.gomlab.com/gomlab_v2/ui/gommarket/img/";

/*Hashing*/
$version: "?v=1";

$min_width: 1280px;
$max_width: 100%;
$header_h: 74px;

/*Font 및 Color*/
$bold: bold;
$white: #ffffff;
$black: #222;
$color1: #555;
$color2: #999;
$color3: #bbb;
$color4: #E5E5E5;
$color5: #F2F4F6;
$point: #F23656;
$point2: #FD948D;
